@font-face {
  font-family: "iconfont"; /* Project id 2559062 */
  src: url('iconfont.woff2?t=1654567126443') format('woff2'),
       url('iconfont.woff?t=1654567126443') format('woff'),
       url('iconfont.ttf?t=1654567126443') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-didian:before {
  content: "\e60f";
}

.icon-yonghu:before {
  content: "\e64e";
}

.icon-cuocha_kuai:before {
  content: "\ed1e";
}

.icon-jiantouyou:before {
  content: "\e667";
}

.icon-hao:before {
  content: "\e631";
}

.icon-fanhui:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e604";
}

