@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('foot/iconfont.woff2?t=1621044854968') format('woff2'),
      url('foot/iconfont.woff?t=1621044854968') format('woff'),
      url('foot/iconfont.ttf?t=1621044854968') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyiqu:before {
  content: "\100da";
}

